<style>
	.navbar { margin-bottom: 0 }
	.avatar, .avatar-item {
		padding : 0px;
		margin : 0px;
	}
</style>
<div class="container" ng-controller='authCtrl'>
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="javascript:void(0);" class="navbar-brand">AngularVK</a>
				</div>
				
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="avatar-item" href="https://vk.com/{{userHref}}" ng-show="hasPhoto" target="_blank">
							<img class="avatar img-circle" src="{{photo}}">
						</a>
					</li>
					<li><a href="https://vk.com/{{userHref}}" ng-show="isUserLoggedIn" target="_blank">{{userName}} {{userLastName}}</a></li>
					<li ng-show="isUserLoggedIn"><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
					<li ng-show="!isUserLoggedIn"><a href="javascript:void(0);" ng-click="login()">Login</a></li>
					
<li ng-show="!isUserLoggedIn"><a href="https://oauth.vk.com/authorize?client_id=5590999&display=popup&redirect_uri=https://nsrg-angular-api.herokuapp.com&scope=groups&response_type=code&v=5.53">Li</a></li>
				</ul>
			</div>
		</nav>
	</div>	
</div>	
