<style>
	span {
		margin-bottom : 20px;
		display : block;
	}
	
	#group-name {
		font-weight : bold;
	}
	
	.post {
		background-color : #f3f2f2;
		border-radius : 3px;
		border-color : #f3f2f2;
		margin-bottom : 10px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<img src="{{photo}}" class="img-rounded">

		</div>
		<div class="col-lg-9">
			<span id="group-name">{{name}}</span>
			<span id="group-desc">{{description}}</span>
			<button class="btn btn-default" ng-show="!IsMember" ng-click="joinGroup(gid)">Join group</button>
			<button class="btn btn-default" ng-show="IsMember" ng-click="leaveGroup(gid)">Leave group</button>						
		</div>
	</div>
	<div class="row">
		<div ng-repeat="post in posts" class="row post" class="row post-item">
			<div class="row"></div>
			<div class="row">
				<ng-bind-html ng-bind-html="renderHtml(post.text)">
				</ng-bind-html>
			</div>
		</div>
	</div>
</div>