<style>
	#group-name {
		font-weight : bold;
	}
	
	.post {
		background-color : #f3f2f2;
		border-radius : 3px;
		border-color : #f3f2f2;
		margin-bottom : 10px;
	}
</style>
<div class="container">
	<div class="row" ng-show="!IsInEdit && IsExists">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
					{{title}}
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
					<div class="pull-right" ng-bind="convertDate(date)"></div>
				</div>
			</div>
			<div class="row">
				<ng-bind-html ng-bind-html="renderHtml(text)"></ng-bind-html>
			</div>
	</div>
	<div class="row" ng-show="!IsInEdit && IsExists">
		<div class="col-lg-offset-7 col-lg-2 col-md-offset-7 col-md-2 col-sm-offset-4 col-sm-2 col-xs-offset-1 col-xs-4">
			<button type="button" class="btn btn-primary pull-right" ng-click="editNote()">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp; edit
			</button>
		</div> 
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
			<button type="button" class="btn btn-warning" value="delete" ng-click="deleteNote()">
				<span class="glyphicon glyphicon-remove"></span>&nbsp; delete
			</button>			
		</div> 		
	</div>
	
	<div class="row" ng-show="IsInEdit">
		<div class="row col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
			<input type="text" placeholder="type note header here..." value="{{editTitle}}">
		</div>
		<div class="row col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
			<div id='text-area' contenteditable style="height : 200px">
				<ng-bind-html ng-bind-html="renderHtml(editText)"></ng-bind-html>
			</div>
		</div>		
	</div>
	<div class="row" ng-show="IsInEdit">
		<div class="col-lg-offset-7 col-lg-2 col-md-offset-7 col-md-2 col-sm-offset-4 col-sm-2 col-xs-offset-1 col-xs-6">
			<button type="button" class="btn btn-primary pull-right" ng-click="addNote()">
				<span class="glyphicon glyphicon-ok"></span>&nbsp; {{btnOk}}
			</button>
		</div>
		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-5">
			<button type="button" class="btn btn-info" ng-click="cancelEdit()">
				cancel
			</button>
		</div>
	</div>
</div>