<div class="container">
	<div class="row" ng-show="!isUserLoggedIn">
		<div class="col-xs-12">
			<div class="text-center">
				Please log in first<span us-spinner="{radius:30, width:8, length: 16}"></span>
			</div>
		</div>
	</div>

	<div class="row" ng-show="isGroupsLoading">
		<div class="col-xs-12">
			<div class="text-center">
				Loading notes
			</div>
		</div>
	</div>

	<div ng-repeat="note in notes" id="note_{{note.id}}" class=" row group-item">
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 row notelist" ng-click="showDetails(note.id)">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
			<div class="placeholder-char">
				{{note.title | firstChar}}
			</div>		
		</div>
		<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
					<a href="javascript:void(0);" class="group-header">{{note.title}}</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<div class="pull-right" ng-bind="convertDate(note.date)"></div>
				</div>
			</div>
			<div class="row">
				<div class="description" ng-bind="note.text | setPlainText"></div>
			</div>
		</div>	
		</div>	
	</div>
	<div class=" row group-item" ng-show="IsGroupsLoaded">
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 row notelist-add notelist" ng-click="addNote()">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
			<div class="placeholder-char" id="placeholder-add">
				+
			</div>	
		</div>
		<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
					<a href="javascript:void(0);" class="group-header">Add note</a>
				</div>
			</div>
			<div class="row">
				<div>Note will be stored privately in your vk account</div>
			</div>
		</div>	
		</div>	
	</div>	
 
	<div class="row next-loader" ng-show="!IsAllGroupsLoaded">
		<div class="col-xs-12">
			<div class="text-center">
				<button class="btn btn-default" ng-click="getGroups()">Load more</button>
			</div>
		</div>
	</div>
</div>
