<style type="text/css">
 .logo {
 	max-height: 50px; 
 	overflow: hidden;
 }
 
 .group-header {
 	font-weight: bold;
 }
 
 .group-item, .next-loader {
 	margin-bottom: 20px;
 }
</style>

<div class="container">
	<div class="row" ng-show="!isUserLoggedIn">
		<div class="col-xs-12">
			<div class="text-center">
				Please log in first
			</div>
		</div>
	</div>

	<div class="row" ng-show="isGroupsLoading">
		<div class="col-xs-12">
			<div class="text-center">
				Loading notes
			</div>
		</div>
	</div>

	<div ng-repeat="note in notes | orderBy:'-date'" id="note_{{note.id}}" class=" row group-item">
		<div class="col-lg-offset-1 col-lf-10 col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 row notelist">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
		
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					<a href="/details/{{note.id}}" class="group-header">{{note.title}}</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="pull-right" ng-bind="convertDate(note.date)"></div>
				</div>
			</div>
			<div class="row">
				<ng-bind-html class="description" ng-bind-html="renderHtml(note.text)"></ng-bind-html>
			</div>
		</div>	
		</div>	
	</div>

	<div class="row next-loader" ng-show="!IsAllGroupsLoaded">
		<div class="col-xs-12">
			<div class="text-center">
				<button class="btn btn-default" ng-click="getGroups()">Load more</button>
			</div>
		</div>
	</div>
</div>
