<style type="text/css">
 .logo {
 	max-height: 50px; 
 	overflow: hidden;
 }
 
 .group-header {
 	font-weight: bold;
 }
 
 .group-item, .next-loader {
 	margin-bottom: 20px;
 }
</style>

<div class="container">
	<div class="row" ng-show="!isUserLoggedIn">
		<div class="col-xs-12">
			<div class="text-center">
				Please log in first
			</div>
		</div>
	</div>

	<div class="row" ng-show="isGroupsLoading">
		<div class="col-xs-12">
			<div class="text-center">
				Loading notes
			</div>
		</div>
	</div>

	<div ng-repeat="note in notes" id="note_{{note.id}}" class="row group-item">
		<div class="col-lg-7 col-md-7 col-sm-10 col-xs-10" >
			<div><a href="/details/{{note.id}}" class="group-header">{{note.title}}</a></div>
			<div ng-bind="convertDate(note.date)"></div>
			
			<div><a ng-href="{{note.view_url}}">vk</a></div>
			<ng-bind-html ng-bind-html="renderHtml(note.text)">
			</ng-bind-html>
		</div>
		
	</div>

	<div class="row next-loader" ng-show="!IsAllGroupsLoaded">
		<div class="col-xs-12">
			<div class="text-center">
				<button class="btn btn-default" ng-click="getGroups()">Load more</button>
			</div>
		</div>
	</div>
</div>
