/* header styles */

.avatar {
	height : 40px;
	margin-top : 5px;
	cursor : pointer;
}	

.notelist:hover {
	background-color : #e7e7e7;
	cursor : pointer;
}

.notelist {
	margin-bottom : 5px;
	background-color : #f7f7f7;
}

.notelist-add {
	margin-bottom : 15px;
	background-color : #f7f7f7;
}

.description {
	display : block;
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}

 .group-header {
 	font-weight: bold;
 }
 